<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>WeatherApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClientAPI</display-name>
    <servlet-name>ClientAPI</servlet-name>
    <servlet-class>ClientAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientAPI</servlet-name>
    <url-pattern>/ClientAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryList</display-name>
    <servlet-name>CountryList</servlet-name>
    <servlet-class>controller.CountryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryList</servlet-name>
    <url-pattern>/CountryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateList</display-name>
    <servlet-name>StateList</servlet-name>
    <servlet-class>controller.StateList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateList</servlet-name>
    <url-pattern>/StateList</url-pattern>
  </servlet-mapping>
</web-app>